.content {
  border-radius: 10px !important;
  background: #fff !important;
  padding: 16px !important;
  margin: 0 0 24px 0 !important;
  box-sizing: border-box !important;
}
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#AvatarAdmin {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover;
}

#AvatarAdminPerfil {
  width: 250px; 
  height: 250px; 
  border-radius: 50%; 
  object-fit: cover;
}